.nextflow*
work/
results/
.DS_Store
testing/
testing*
*.pyc
null/
node_modules/
work/
results/
.nextflow
.nextflow.log
.nextflow.log.1
.nextflow.log.2
.nextflow.log.3
.nextflow.log.4
.nextflow.log.5
.nextflow.log.6
.nextflow.log.7
.nextflow.log.8
.nextflow.log.9
dist/
build/
.venv/
.mamba/
.ruff_cache/
.pytest_cache/
node_modules/
work/
results/
.nextflow*
dist/
build/
