params {
    snpeff_db                  = "WBcel235.115"
    outdir                     = "tests/results"
}

process {
    withName: 'ANNOTATE_UNIFIED:SNPEFF_DOWNLOAD_UNIFIED' {
        ext.prefix = { "${meta.id}" }
    }

    withName: 'ANNOTATE_UNIFIED:SNPEFF_UNIFIED' {
        ext.prefix = { "${meta.id}_snpeff" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snpeff" },
            mode: 'copy'
        ]
    }
}
