params {
    modules_testdata_base_path       = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    longraredisease_testdata_base_path = 'https://raw.githubusercontent.com/nourmahfel/test-datasets/longraredisease/'
    outdir = "tests/results"
}

process {
    withName: 'RTG_COMPARE_SNV:RTG_MENDELIAN_SNV' {
        ext.prefix = { "${meta.id}_mendelian" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/rtg_mendelian" },
            mode: 'copy'
        ]
    }

    withName: 'RTG_COMPARE_SNV:RTG_NONMENDELIAN_SNV' {
        ext.prefix = { "${meta.id}_denovo" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/rtg_denovo" },
            mode: 'copy'
        ]
    }
}
