/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // References
    input                       = "$projectDir/assets/samplesheet.csv"
    input_type                  = 'ubam'      // Skip alignment step if input BAM/CRAM files are already aligned
    sequencing_platform         = 'ont'   // Sequencing platform (e.g. 'ont', 'hifi', 'pacbio'). You can also define the parameters through the minimap2_model or winnowmap_model
    minimap2_model              = null
    use_winnowmap               = false  // Use Winnowmap for alignment instead of Minimap2
    winnowmap_model             = null
    haplotag_bam                = true
    trio_analysis               = false  // Enable trio analysis for SNV calling and phasing
    filter_targets              = false      // Enable filtering of alignments to target regions (e.g. for gene panels or exomes)
    targets_bed                 = null       // BED file with target regions for filtering (required if filter_targets is true)
    generate_bam_stats          = true       // Enable generation of BAM statistics
    generate_coverage_report    = true       // Enable generation of coverage statistics
    sv                          = true      // Enable structural variant calling
    snv                         = true       // Enable SNV calling
    cnv                         = true // Enable CNV calling with HiFiCNV if cnv_spectre is false
    str                         = true      // Enable STR analysis
    qc                          = true       // Enable quality control
    methyl                      = true       // Enable methylation calling
    fasta_file                  = params.pipelines_testdata_base_path + "longraredisease/genome_22/genome_22.fasta"
    winnowmap_kmers             =  "${projectDir}/assets/data/repetitive_k15.txt"
    straglr_bed                 = params.pipelines_testdata_base_path + "longraredisease/straglr/str.test.bed"
    chromosome_codes            = ['chr22']
    deepvariant_regions         = 'chr22'
    outdir                      = './results'
    annotate_sv                 = false


    // ========================================
    // SV Running PARAMETERS
    // ========================================
    sniffles_min_mapq       = 10   // Default sv caller
    rankfiltering           = '3-5,NA' // Pathogenic or non pathogenic
    run_svim                = true // This is a better tool to identify BNDs
    svim_min_mapq           = 10
    filter_pass_sv          = true
    downsample_sv           = true
    coverage_bed            = null
    min_read_support        = 'auto' //'auto'
    min_read_support_limit  = 2
    annotsv_annotations     = null
    hificnv_exclude_bed        = params.pipelines_testdata_base_path + "longraredisease/hificnv/test.exclude.bed"
    hificnv_expected_cn_bed    = null // BED file with expected CNVs for HiFiCNV evaluation

    // ===========================================================
    // Prioritize SVs with HPO (only works if there are HPO terms)
    // ===========================================================
    run_svanna               = false   // Enable SV annotation with SvAnna; ensure all HPO terms are correct and present in the ontology
    svanna_db                = "s3://my-nanoraredx-bucket/svanna_db" // Path to the SvAnna database directory (e.g. "${projectDir}/assets/data/svanna_db")
    output_format            = "html"

    // ========================================
    // SV Running PARAMETERS
    // ========================================
    min_caller_support      = 2
    merge_sv                = true // Runs cutesv and merges all of the sv variant calls
    cutesv_min_mapq         = 10

    // ========================================
    // REFERENCE FILES
    // ========================================

    sniffles_tandem_file        = "${projectDir}/assets/data/sniffles_no_alt_analysis_set.trf.bed"

    // ========================================
    // SNV CALLING PARAMETERS
    // ========================================

    run_deepvariant                 = true       // Run deepvariant, otherwise runs clair3
    filter_pass_snv                 = true
    clair3_min_mq                   = 10           // Minimum mapping quality for Clair3 to consider an alignment. Default is 5
    clair3_model                    = 'ont'
    clair3_platform                 = 'ont'
    deepvariant_regions             = null        // BED file with regions to restrict DeepVariant calling to (e.g. for gene panels or exomes)
    deepvariant_runtime_report      = true      // Enable generation of a runtime report for DeepVariant
    deepvariant_make_examples_extra_args = 'min_mapping_quality=10'
    annotate_clair3                 = true       // Enable annotation of Clair3 SNVs with SnpEff
    snpeff_db                       = 'GRCh38.mane.1.2.ensembl' // SnpEff database - view dbs in assets/snpeff_db

    // Spectre test parameters
    use_test_data                = true // Use test data for Spectre - can not run it in test pipeline because does not accept subset of data.
    spectre_test_summary_txt     = params.pipelines_testdata_base_path + "longraredisease/spectre/test.mosdepth.summary.txt"
    spectre_test_regions_bed     = params.pipelines_testdata_base_path + "longraredisease/spectre/test.regions.bed.gz"
    spectre_test_regions_csi     = params.pipelines_testdata_base_path + "longraredisease/spectre/test.regions.bed.gz.csi"
    spectre_test_fasta_file      = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
    spectre_test_clair3_vcf      = params.pipelines_testdata_base_path + "longraredisease/spectre/test_clair3.vcf.gz"


}

// Impose same minimum Nextflow version as in nextflow.config
manifest {
    nextflowVersion = '!>=25.04.6'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withLabel: 'process_high' {
        cpus = 4
        memory = '15.GB'
    }
    withLabel: 'process_medium' {
        cpus = 2
        memory = '7.GB'
    }
    withLabel: 'process_low' {
        cpus = 1
        memory = '3.GB'
    }
    withLabel: 'process_single' {
        cpus = 1
        memory = '3.GB'
    }
}
