params {
    spectre_metadata            = "https://raw.githubusercontent.com/nanoporetech/ont-spectre/master/spectre/data/hg38_metadata.mdr"
    spectre_blacklist           = "https://raw.githubusercontent.com/nanoporetech/ont-spectre/master/spectre/data/hg38_blacklist_v1.0.bed"
}


docker.enabled    = true
docker.runOptions = '-u $(id -u):$(id -g)'

process {
withName: 'CALL_CNV:SPECTRE_CNVCALLER' {
        container="ghcr.io/nourmahfel/spectre-ont:0.3.2"
        ext.args =  {"--sample-id=${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/spectre" },
            mode: 'copy'
        ]
    }

    withName: 'CALL_CNV:BCFTOOLS_SORT_SPECTRE' {
        ext.prefix = { "${meta.id}.wf_cnv" }
        ext.args = '-Oz --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/spectre" },
            mode: 'copy'
        ]
    }
}
