params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    outdir = "tests/results"
}

process {
    withName: 'RTG_COMPARE_SV:SNIFFLES_TRIO' {
        ext.prefix = { "${meta.id}_trio" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/sniffles_trio" },
            mode: 'copy'
        ]
    }

    withName: 'RTG_COMPARE_SV:RTG_MENDELIAN_SV' {
        ext.prefix = { "${meta.id}_mendelian" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/rtg_mendelian" },
            mode: 'copy'
        ]
    }

    withName: 'RTG_COMPARE_SV:RTG_NONMENDELIAN_SV' {
        ext.prefix = { "${meta.id}_denovo" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/rtg_denovo" },
            mode: 'copy'
        ]
    }
}
