/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
executor {
    name = 'local'
    cpus = 8
    memory = '16.GB'
    queueSize = 10
}
process {
    resourceLimits = [
        cpus: 1,
        memory: '10.GB'
    ]}



trace.fields = "task_id,hash,native_id,script"

params {
    // ========================================
    // MAIN ANALYSIS TOGGLES
    // ========================================
    input                       = "/home/nmahfel/nf-training/test_data_ubams/samplesheet_ubam.csv"
    use_winnowmap               = false    // Use Winnowmap as aligner or defaults to minimap2
    input_type                  = 'ubam'
    generate_bam_stats          = true     // Enable generation of BAM statistics
    generate_coverage           = true      // Enable generation of coverage statistics
    sv                          = true      // Enable structural variant calling
    snv                         = true   // Enable SNV calling
    cnv                         = false // Enable CNV calling with HiFiCNV
    str                         = true    // Enable STR analysis
    phase                       = true     // Enable phasing analysis
    qc                          = true   // Enable quality control
    methyl                      = true     // Enable methylation calling
    prioritize_sv_with_hpo      = true    // Enable SV annotation with SvAnna; ensure all HPO terms are correct and present in the ontology
    annotate_sv                 = true       // Enable SV annotation with SvAnna
    fasta_file                  = "${projectDir}/assets/test_data/genome_22/genome_22.fasta"
    str_bed_file                = "${projectDir}/assets/test_data/straglr/str.test.bed"
    outdir                      = './results'
    chromosome_codes            = ['chr22']
    deepvariant_regions         = 'chr22'

    // Hificnv test data
    hificnv_exclude_bed        = "${projectDir}/assets/test_data/test.exclude.bed" // Exclude regions BED file for HiFiCNV
    hificnv_expected_cn_bed    = null // BED file with expected CNVs for HiFiCNV evaluation


    // Spectre test parameters
    use_test_data                = true // Use test data for Spectre - can not run it in test pipeline because does not accept subset of data.
    spectre_test_summary_txt     = "${projectDir}/assets/test_data/spectre/test.mosdepth.summary.txt"
    spectre_test_regions_bed     = "${projectDir}/assets/test_data/spectre/test.regions.bed.gz"
    spectre_test_regions_csi     = "${projectDir}/assets/test_data/spectre/test.regions.bed.gz.csi"
    spectre_test_fasta_file      = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
    spectre_test_clair3_vcf      = "${projectDir}/assets/test_data/spectre/test_clair3.vcf.gz"

}
