/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
executor {
    name = 'local'
    cpus = 8
    memory = '16.GB'
    queueSize = 10
}
process {
    resourceLimits = [
        cpus: 1,
        memory: '10.GB'
    ]
}
trace.fields = "task_id,hash,native_id,script"

params {
    // ========================================
    // MAIN ANALYSIS TOGGLES
    // ========================================
    // input                       = "${projectDir}/assets/samplesheet.csv"
    use_winnowmap               = false    // Use Winnowmap as aligner or defaults to minimap2
    align_with_bam              = true     // Enable alignment
    align_with_fastq            = false   // Enable alignment with FASTQ files  // Sample name for the analysis or patient's ID
    generate_bam_stats          = true       // Enable generation of BAM statistics
    generate_coverage           = true      // Enable generation of coverage statistics
    sv                          = true      // Enable structural variant calling
    snv                         = true   // Enable SNV calling
    cnv_spectre                 = false   // Enable CNV calling
    cnv_hificnv                 = false  // Enable CNV calling with HiFiCNV
    str                         = true    // Enable STR analysis
    phase                       = true      // Enable phasing analysis
    qc                          = true    // Enable quality control
    methyl                      = true     // Enable methylation calling
    exclude_bed_hificnv         = "https://github.com/nourmahfel/test-datasets/raw/refs/heads/longraredisease/test.exclude.bed"
    fasta_file                  = "https://raw.githubusercontent.com/nourmahfel/test-datasets/refs/heads/longraredisease/genome_22/genome_22.fasta"
    str_bed_file                = "https://github.com/nourmahfel/test-datasets/raw/refs/heads/longraredisease/straglr/str.test.bed"
    outdir                      = './results'



    // ========================================
    // Consensus SV FILTERING PARAMETERS
    // ========================================
    consensuSV                 = false      // Enable multi-caller SV filtering
    use_survivor_bed           = true
    max_distance_breakpoints    = 1000
    min_supporting_callers      = 2
    account_for_type            = 1
    account_for_sv_strands      = 1
    estimate_distanced_by_sv_size = 1
    min_sv_size                 = 30
    refdist                     = 1000
    pctsim                      = 0.7
    pctseq                      = 0.7
    passonly                    = false
    dup_to_ins                  = false


    // ========================================
    // SV FILTERING PARAMETERS
    // ========================================
    primary_sv_caller          = 'svim'
    filter_sv                   = false  // Enable SV filtering by coverage
    filter_pass_sv              = false       // Filter PASS variants only in SV
    min_read_support            = 'auto'
    min_read_support_limit      = 2

    // ========================================
    // SNV CALLING PARAMETERS
    // ========================================
    deepvariant                 = true
    merge_snv                   = true // Unify SNV VCFs from CLAIR3 and Deepvariant to upload to GeneYX
    filter_pass_snv             = false       // Filter PASS variants only in SNV
    clair3_model                = "ont" // if this model is not found use ont. Use this model in docker r1041_e82_400bps_sup_v500
    clair3_platform             = "ont"


    // ========================================
    // PHASING PARAMETERS
    // ========================================
    phase_with_sv               = true

    // Spectre test parameters
    use_test_data                    = true // Use test data for Spectre - can not run it in test pipeline because does not accept subset of data.
    spectre_test_mosdepth            = "https://github.com/nourmahfel/test-datasets/raw/refs/heads/longraredisease/spectre/mosdepth.regions.bed.gz"
    spectre_test_fasta_file          = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
    spectre_test_clair3_vcf          = "https://github.com/nourmahfel/test-datasets/raw/refs/heads/longraredisease/spectre/test_clair3_merge_output.vcf.gz"

    // ========================================
    // VCF UNIFICATION PARAMETERS
    // ========================================
    modify_str_calls            = true    // or true if Straglr is used
    unify_geneyx                = true    // Enable VCF unification

}
