params {
    // Define the test data base path
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
}

process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'MINIMAP2_INDEX' {
        ext.args = '-x map-ont'
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args = '-ax map-ont'
        ext.prefix = { "${meta.id}.aligned" }
    }
}
