params {
    // Define the test data base path
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
}

process {

    withName: 'ALIGN:MINIMAP2_INDEX' {
        ext.args = '-x map-ont'
    }

    withName: 'ALIGN:MINIMAP2_ALIGN' {
        ext.args = '-ax map-ont'
        ext.prefix = { "${meta.id}.aligned" }
    }
}
