params {
    spectre_metadata            = "${projectDir}/assets/data/spectre_metadata.mdr"
    spectre_blacklist           = "${projectDir}/assets/data/spectre_blacklist.bed"
}
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
withName: 'CALL_SPECTRE_CNV:SPECTRE_CNVCALLER' {
        container="ghcr.io/nourmahfel/spectre-ont:0.3.2"
        ext.args =  {"--sample-id=${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/spectre" },
            mode: 'copy'
        ]
    }

    withName: 'CALL_SPECTRE_CNV:BCFTOOLS_SORT_SPECTRE' {
        ext.prefix = { "${meta.id}.wf_cnv" }
        ext.args = '-Oz --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/spectre" },
            mode: 'copy'
        ]
    }
}
