params {
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    outdir = "tests/results"
    rankfiltering = "3-5,NA"
}

process {
    withName: 'ANNOTATE_SNIFFLES:ANNOTSV_SNIFFLES' {
        ext.args   = { meta.hpo_terms ? "-vcf 1 -genomeBuild GRCh38 -rankFiltering ${params.rankfiltering} -hpo '${meta.hpo_terms}'" : "-vcf 1 -genomeBuild GRCh38 -rankFiltering '3-5,NA'" }
        ext.prefix = { "${meta.id}_annotsv" }
        containerOptions = '--user root'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/annotsv_sniffles" },
            mode: 'copy'
        ]
    }
}
