params {
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    outdir = "tests/results"

    // SNV calling parameters
    vcf_output = true              // val(true)
    snf_output = true
}

process {

    withName: 'CALL_SV:SNIFFLES' {
        ext.args = {
            def args = [
                "--mapq=10",
                "--sample-id=${meta.id}",
                "--phase"
            ]
            args.join(' ')
        }
        ext.prefix = { "${meta.id}_sniffles" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/sniffles" },
            mode: 'copy'
        ]
        }

    withName: 'CALL_SV:GUNZIP_SNIFFLES_PLOT' {
        ext.prefix = { "${meta.id}_sniffles" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'CALL_SV:SNIFFLES_GENERATE_PLOTS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/sniffles" },
            mode: 'copy'
        ]
    }
}
