params {
    // Define the test data base path
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'SAMTOOLS_MERGE' {
        ext.prefix = { "${meta.id}.merged" }
    }

    withName: 'SAMTOOLS_FASTQ' {
        ext.args = '-T MM,ML'
    }
}
